<!DOCTYPE html>
<html lang="es"></html>
<head>
    <meta charset="UTF-8">
    <title>Confirmación registro</title>
    <link rel="stylesheet" href="{% static 'Assets/ConfRegistro.css' %}">
</head>

<body>
    <div class="body_div">
        <div class="header-logo">
            <img id="left-header" src="{% static 'Img/GOV_ICON.png' %}" alt="Logo">
            <img id="right-header" src="{% static 'Img/CRC_ICON.png' %}" alt="Logo">
        </div>
    
    
        <div class = "Bk_container">
            <div class="Bk_container_child">
            </div>
            <div class="Bk_container_child2">
                <h1 style="color: #F42E62;">Se ha enviado un correo de confirmación a tu correo. Revisalo y sigue las instrucciones</h1>
                <img src="{% static 'img/Check_ICON.png' %}" alt="Confirmación">
                <a href="{% static 'index.php' %}" id="input_a">
                    <h5>volver a inicio de sesión</h5>
                </a>
            </div>
        </div>
        
    
        <footer id="footer">
            <img id="footer-logo" src="{% static 'Img/COL_ICON.png' %}" alt="Logo">
            <img id="footer-left" src="{% static 'Img/GOV_ICON.png' %}" alt="Logo">
        </footer>
    </div>
</body>