{% load static %}
<!DOCTYPE html>
<html lang="es"></html>
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <link rel="stylesheet" href="{% static 'Assets/Info.css' %}">
</head>

<body>
    <div class="header-logo">
        <img id="left-header" src="{% static 'Img/GOV_ICON.png' %}" alt="Logo">
        <img id="right-header" src="{% static 'Img/CRC_ICON.png'%}" alt="Logo">
    </div>

    <div class="Sep_Container">
        <h1 style="font-weight: bolder;">Plataforma</h1>
    </div>

    <div class = "Info_container">
        <div class="Info_container_child">
            <img src="{% static 'Img/SEARCH_ICON.png' %}" alt="Logo">
            <h2>¿Qué es?</h2>
            <p>La Plataforma de Análisis del Mercado Móvil Colombiano es una  herramienta poderosa que permite a los usuarios explorar y comprender el  comportamiento del mercado de telefonía móvil en Colombia entre 2012 y  2023.</p>
        </div>
        
    </div>

    <div class="Button_Container">
        <a href="{% url 'User_select' %}" id="input_a">
            <button class="input-button">Acceder</button>
        </a>
    </div>


    <footer id="footer">
        <img id="footer-logo" src="{% static 'Img/COL_ICON.png' %}" alt="Logo">
        <img id="footer-left" src="{% static 'Img/GOV_ICON.png' %}" alt="Logo">
    </footer>
</body>