{% load static %}
<!DOCTYPE html>
<html lang="es"></html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'Assets/Login.css' %}">
</head>

<body>
    <div class="header-logo">
        <img id="left-header" src="{% static 'img/GOV_ICON.png' %}" alt="Logo">
        <img id="right-header" src="{% static 'img/CRC_ICON.png' %}" alt="Logo">
    </div>

    <div class = "login_container">
        <div class="welcome-box">
            <h1>Bienvenido!</h1>
        </div>

        <div class="login-box">
            <form>
                <input type="text" id="input-login" name="Usuario"  placeholder="Usuario"  required>
            <br>
                <input type="password" id="input-login" name="Contraseña"  placeholder="Contraseña"  required>
            <br>
                
                <input type="submit" id="input-button" value="Ingresar" onclick="window.location.href='User_admin_listausuarios.html'">
            </form>

            <h5><a href="{% static 'Forget.html' %}" style="color: #E3D190;">¿Olvidaste tu Contraseña?</a></h5>
            <hr class="hr_separator"> 
            <h5><a href="{% static 'Registro.html' %}" style="color: #f7f7f7;">¿No tienes cuenta? Registrate</a></h5>
        </div>
    </div>

    <footer id="footer">
        <img id="footer-logo" src="{% static 'img/COL_ICON.png' %}" alt="Logo">
        <img id="footer-left" src="{% static 'img/GOV_ICON.png' %}" alt="Logo">
    </footer>
</body>