{% load static %}
<!DOCTYPE html>
<html lang="es"></html>
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'Assets/Registro.css' %}">
</head>

<body>
    <div class="header-logo">
        <img id="left-header" src="{% static 'img/GOV_ICON.png' %}" alt="Logo">
        <img id="right-header" src="{% static 'img/CRC_ICON.png' %}" alt="Logo">
    </div>


    <div class = "Bk_container">
        <div class="Bk_container_child">
        </div>
        <div class="Bk_container_child2">
            <div class="Buttons_Register_top">
                <a href="{% url 'Login' %}">
                    <img src="{% static 'img/Return_ICON.png' %}" alt="Logo">
                </a>

                <a href="{% url 'Login' %}">
                    <h5 style="color:#B9ADAD; font-size: 10px;">Ya tienes cuenta?</h5>
                </a>
            </div>
            <h1 style="color: #F42E62;">Registrese en la plataforma</h1>
            <form style="width: 90%;">
                <input type="text" id="input-registro" name="Nombre"  placeholder="Nombre(s)"  required>
                <br>
                <input type="text" id="input-registro" name="Apellidos" placeholder="Apellido(s)" required>
                <br>
                <input type="tel" id="input-registro" name="Telefono" placeholder="Numero de telefono" inputmode="tel" required>
                <br >
                <input type="number" id="input-registro" name="Cedula" placeholder="Numero de Cedula" required>
                <br>
                <input type="email" id="input-registro" name="Correo" placeholder="Correo" required>
                <br>
                <input type="password" id="input-registro" name="Contraseña" placeholder="Contraseña" required>
                <br>
                <input type="checkbox" id="input-checkbox" name="Acepto" required>Acepto los terminos y condiciones
                <br>
                <input type="submit" id="input-button" value="Registrarse">
            </form>


        </div>
    </div>
    

    <footer id="footer">
        <img id="footer-logo" src="{% static 'img/COL_ICON.png' %}" alt="Logo">
        <img id="footer-left" src="{% static 'img/GOV_ICON.png' %}" alt="Logo">
    </footer>
</body>