{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Administrador preprocesamiento </title>
        <link rel="stylesheet" href="{% static './Assets/style_Userprepro_ingresos.css' %}">
    </head>
    <body>
        <div class="Bordeup">
            <a href="https://www.gov.co/">
                <img class="gov1" src="{% static './Img/gov.co.png' %}" alt="gov.co">
            </a>
            <button id="btnusr" onclick="usuario_cambio()" class="btn_usuario">ADMINISTRADOR</button>
            <script src="{% static 'cambiarusuario.js' %}"></script>
            
        </div>  
        
        <div class="crcborde">
            <a href="https://crcom.gov.co/es">
                <img class="crcimg" src="{% static './Img/CRC.png' %}" alt="gov.co">
            </a>
            <div class="panel_cambiousr" >
                <div class="cuadro_usr">
                    <div class="cuadro_salir_usr">
                        <img class="crcimg_usr" src="{% static './Img/CRC.png' %}" alt="gov.co">
                        <a href="{% url 'User_select' %}">
                            <button class="Salir_usr">salir</button>
                        </a>
                    </div>
                                        
                    <h5>Administrador</h5>
                    <h5>correo</h5>
                    <h5>mi perfil</h5>
                    <a href="{% url 'Login' %}">
                        <button class="cambiar_cuenta">Cambiar Cuenta</button>
                    </a>
                </div>
            </div> 
        </div> 
        <div class="panel_control">
            <a href="{% url 'ListaUsuarios' %}">
                <button class="btn_usuarios">
                    <h3>
                        usuarios
                    </h3>     
                </button>
            </a>
            <a  href="{% url 'cargar_hist' %}">
                <button class="btn_cargar">
                    <h3>
                        cargar
                    </h3>
                </button>
            </a>
            <a href="{% url 'prepro_hist' %}">
                <button class="btn_prepro">
                    <h3>
                        preprocesamiento
                    </h3>
                </button>
            </a>
            <a href="{% url 'grafico_verhist' %}">
                <button class="btn_graf">
                    <h3>
                        grafico
                    </h3>
                </button>
            </a>
        </div> 
        <div class="Central">
            <div class="menu_central">
                <a href="{% url 'prepro_hist' %}">
                    <div class="historico_trafico">
                        <div class="cuadradotra">
                            <h2>Historico de trafico</h2>
                        </div>
                        <div class="bordetra"></div>
                    </div>
                </a>
                <a href="{% url 'prepro_abonados' %}">
                    <div class="abonados">
                        <div class="cuadradoa">
                            <h2>Abonados</h2>
                        </div>
                        <div class="bordea"></div>
                    </div>
                </a>
                <a href="{% url 'prepro_ingresos' %}">
                    <div class="ingresos">
                        <div class="cuadradoi">
                            <h2>Ingresos</h2>
                        </div>
                        <div class="bordei"></div>
                    </div>
                </a>
            </div>
            <div class="Panel_admin">
                <h1>Ingresos preprocesamiento</h1>
                <button class="btn_preprocesar">preprocesar</button>
            </div>
            
        </div>
        <div class="Bordedown">
            <a href="https://www.gov.co/">
                <img class="img_col" src="{% static './Img/col_1.png' %}" alt="colombia humana.co" >
            </a>
            <a href="https://www.colombia.co/">
                <img class="gov2" src="{% static './Img/gov.co.png' %}" alt="gov.co">
            </a>
        </div>     
    </body>
</html>