{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Administrador de usuarios</title>
        <link rel="stylesheet" href="{% static './Assets/style_Useradmin_list.css' %}">
        <script src="{% static 'cambiarusuario.js' %}"></script>
    </head>
    <body>
        
        <div class="Bordeup">
            <a href="https://www.gov.co/">
                <img class="gov1" src="{% static './Img/gov.co.png' %}" alt="gov.co">
            </a>
            <button id="btnusr" onclick="usuario_cambio()" class="btn_usuario">ADMINISTRADOR</button>
            <script src="{% static 'cambiarusuario.js' %}"></script>
            
        </div>  
        
        <div class="crcborde">
            <a href="{% static 'https://crcom.gov.co/es' %}">
                <img class="crcimg" src="{% static './Img/CRC.png' %}" alt="gov.co">
            </a>
            <div class="panel_cambiousr" >
                <div class="cuadro_usr">
                    <div class="cuadro_salir_usr">
                        <img class="crcimg_usr" src="{% static './Img/CRC.png' %}" alt="gov.co">
                        <a href="{% static 'User_Selection.html' %}">
                            <button class="Salir_usr">salir</button>
                        </a>
                    </div>
                                        
                    <h5>Administrador</h5>
                    <h5>correo</h5>
                    <h5>mi perfil</h5>
                    <a href="{% static 'Login.html' %}">
                        <button class="cambiar_cuenta">Cambiar Cuenta</button>
                    </a>
            </div> 
        </div> 
        <div class="panel_control">
            <a href="{% static 'User_admin_listausuarios.html' %}">
                <button class="btn_usuarios">
                    <h3>
                        usuarios
                    </h3>     
                </button>
            </a>
            <a  href="{% static 'User_cargar_hist.html' %}">
                <button class="btn_cargar">
                    <h3>
                        cargar
                    </h3>
                </button>
            </a>
            <a href="{% static 'User_prepro_hist.html' %}">
                <button class="btn_prepro">
                    <h3>
                        preprocesamiento
                    </h3>
                </button>
            </a>
            <a href="{% static 'User_grafica_verhist.html' %}">
                <button class="btn_graf">
                    <h3>
                        grafico
                    </h3>
                </button>
            </a>
        </div> 
        <div class="Central">
            <div class="menu_central">
                <a href="{% static 'User_admin_listausuarios.html' %}">
                    <div class="lista_usuarios">
                        <div class="cuadradoli">
                            <h2>Lista de usuarios</h2>
                        </div>
                        <div class="bordeli"></div>
                    </div>
                </a>
                <a href="{% static 'User_admin_permisos.html' %}">
                    <div class="permisos">
                        <div class="cuadradoper">
                            <h2>permisos</h2>
                        </div>
                        <div class="bordeper"></div>
                    </div>
                </a>
            </div>
            <div class="Panel_admin">
                <h1>Administrador de Usuarios</h1>
                <button class="btn_crear">Crear</button>
                <button class="btn_eliminar">Eliminar</button>
            </div>
            
        </div>
        <div class="Bordedown">
            <a href="https://www.gov.co/">
                <img class="img_col" src="{% static './Img/col_1.png' %}" alt="colombia humana.co" >
            </a>
            <a href="https://www.colombia.co/">
                <img class="gov2" src="{% static './Img/gov.co.png' %}" alt="gov.co">
            </a>
        </div>     
    </body>
</html>